.sm-calendar-header {
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid $border-color;
  box-shadow: 0 0 4px $border-color;
  background: #f4f4f4;
  .header-container {
    display: flex;
    .header-section {
      flex: 1;
      .view-range {
        text-align: center;
        font-size: 17px;
        padding-top: 14px;
      }
      .view-navigation {
        margin-top: 7px;
        margin-left: 100px;
        .nav-item {
          display: inline-block;
          vertical-align: middle;
          .date-picker {
            margin-left: 15px;
          }
        }
      }
      .view-list {
        margin-top: 9px;
        float: right;
        margin-right: 25px;
        button.view-name {
          margin: 0px -1px;
        }
      }
    }
  }
}
