.sm-calendar-header {
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid $border-color;
  box-shadow: 0 0 4px $border-color;
  background: $header-background;
  .header-container {
    display: flex;
    .header-section {
      flex: 1;
      .context-date-label {
        text-align: center;
        font-size: 18px;
        font-weight: lighter;
        padding-top: 15px;
      }
      .view-range {
        text-align: center;
        font-size: 17px;
        padding-top: 14px;
      }
      .view-navigation {
        margin-top: 7px;
        margin-left: 100px;
        .nav-item {
          display: inline-block;
          vertical-align: middle;
          margin-top: 6px;
          .btn-list {
            margin-top: -4px;
          }
          .date-picker {
            margin-left: 20px;
          }
          .today-button {
            font-weight: lighter;
            margin: 2px 10px 0px;
            font-size: 16px;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      .view-list {
        margin-top: 9px;
        float: right;
        margin-right: 25px;
        button.view-name {
          margin: 0px -1px;
        }
      }
    }
  }
}
