.sm-calendar-header {
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid $border-color;
  .header-container {
    display: flex;
    .header-section {
      flex: 1;
      .view-navigation {
        margin-top: 7px;
        margin-left: 100px;
        .nav-item {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .view-list {
        margin-top: 9px;
        float: right;
        margin-right: 25px;
        button.view-name {
          margin: 0px -1px;
        }
      }
    }
  }
}
