.view-container{
  &.month {
    .view-wrapper {
      .view-header {
        border-bottom: 1px solid $border-color;
        height: var(--view-header-height);
        overflow-y: scroll;
        .row {
          display: flex;
          .item {
            flex: 1;
            text-align: center;
            font-weight: 300;
            &:not(:first-child) {
              .view-header-column {
                border-left: 1px solid $border-color;
              }
            }
            .view-header-column {
              height: var(--view-header-height);
              .day-name {
                display: inline-block;
                font-size: 15px;
                padding-top: 15px;
              }
            }
          }
        }
      }
      .view-body {
        .view-body-relative {
          position: relative;
          overflow-y: scroll;;
          height: calc(var(--component-height) - var(--header-height) - var(--view-header-height) - 10px);
          .drawing-area-container {
            .drawing-area-container-relative {
              position: relative;
              .grid-wrapper {
                .row {
                  display: flex;
                  &:not(:last-child) {
                    border-bottom: 1px solid $border-color;
                  }
                  box-sizing: border-box;
                  .item {
                    flex: 1;
                    overflow: hidden;
                    &:not(:first-child) {
                      .cell-wrapper {
                        border-left: 1px solid $border-color;
                        box-sizing: border-box;
                      }
                    }
                    .cell-wrapper {
                      .cell-header {
                        text-align: right;
                        .cell-date {
                          border-radius: 50%;
                          text-align: center;
                          padding: 5px;
                          margin-right: 5px;
                          margin-top: 5px;
                          display: inline-block;
                          &:hover {
                            cursor: pointer;
                          }
                        }
                      }
                    }

                    &.grey-out {
                      .cell-wrapper {
                        .cell-header {
                          .cell-date {
                            color: $text-color-grey-out;
                            &:hover {
                              cursor: not-allowed;
                            }
                          }
                        }
                      }
                    }

                    &.context-date {
                      .cell-wrapper {
                        .cell-header {
                          .cell-date {
                            background: var(--theme-color);
                            color: $color-white !important;
                          }
                        }
                      }
                    }

                    &.today {
                      .cell-wrapper {
                        .cell-header {
                          .cell-date {
                            border: 1px solid var(--theme-color);
                            color: var(--theme-color);
                          }
                        }
                      }
                    }

                  }
                }
              }

              .events-wrapper {
                .view-more {
                  position: absolute;
                  font-size: 12px;
                  text-decoration: underline;
                  &:hover {
                    cursor: pointer;
                  }
                }
                .event {
                  position: absolute;
                  overflow: hidden;
                  .event-container {
                    padding: 3px;
                    .event-title {
                      font-size: 12px;
                    }
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}
