.minute-view-container {
  .picker-body {
    .minute-row {
      display: flex;
      .minute-cell {
        flex: 1;
        &.selected {
          .minute-number {
            background: var(--theme-color);
            color: $color-white !important;
          }
        }
        .minute-number {
          padding: 5px;
          font-size: 13px;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          text-align: center;
          &:hover {
            cursor: pointer;
            background: var(--theme-color);
            opacity: 0.4;
            color: $color-white !important;
          }
        }
      }
    }
  }
}
