.view-container{
  &.day, &.week {
    .view-wrapper {
      .view-header {
        border-bottom: 1px solid $border-color;
        height: var(--view-header-height);
        overflow-y: scroll;
        .row {
          display: flex;
          .empty-left-scale {
            width: var(--left-scale-width);
          }
          .item {
            flex: 1;
            text-align: center;
            font-weight: 300;
            overflow: hidden;
            &.context-date {
              .view-header-column {
                .day-date {
                  background: var(--theme-color);
                  color: $color-white;
                  &:hover {
                    opacity: 1;
                  }
                }
              }
            }
            &.today {
              .view-header-column {
                border-top:4px solid var(--theme-color);
                .day-date {
                  margin-top: 6px;
                }
              }
            }
            .view-header-column {
              border-left: 1px solid $border-color;
              height: var(--view-header-height);
              box-sizing: border-box;
              .day-name {
                display: inline-block;
                font-size: 15px;
              }
              .day-date {
                display: inline-block;
                text-align: center;
                padding: 5px;
                border-radius: 50%;
                font-weight: 600;
                margin-top: 12px;
                margin-right: 10px;
                &:hover {
                  cursor: pointer;
                  background: var(--theme-color);
                  color: $color-white;
                  opacity: 0.4;
                }
              }
            }
      }
    }
  }
  .view-body {
    .view-body-relative {
      position: relative;
      overflow: auto;
      height: calc(var(--component-height) - var(--header-height) - var(--view-header-height) - 10px);
      .left-scale {
        width: var(--left-scale-width);
        .step-container {
          .step {
            position: relative;
            font-size: 15px;
            &:after {
              content: " ";
              position: absolute;
              top: -1.5px;
              width: 15px;
              background: $border-color;
              height: 1px;
              right: 0px;
            }
            .step-time {
              position: absolute;
              right: 20px;
              top: -9px;
            }
          }
        }
      }
      .drawing-area-container {
        width: calc(100% - var(--left-scale-width));
        position: absolute;
        top: 0;
        left: calc(var(--left-scale-width));
        .drawing-area-container-relative {
          position: relative;
          .grid-wrapper {
            .row {
              display: flex;
              &:not(:last-child) {
                border-bottom: 1px solid $border-color;
              }
              .item {
                flex: 1;
                border-left: 1px solid $border-color;
              }
            }
          }
          .events-wrapper {
            .event {
              position: absolute;
              overflow: hidden;
              .event-container {
                padding: 5px;
                .event-title {
                  font-size: 12px;
                  font-weight: 600;
                  margin-bottom: 10px;
                }
                .event-description {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
}
}
