.view-container{
  &.day, &.week {
    .view-wrapper {
      .view-header {
        border-bottom: 1px solid $border-color;
        height: var(--view-header-height);
        .row {
          display: flex;
          .empty-left-scale {
            width: var(--left-scale-width);
          }
          .item {
            flex: 1;
            text-align: center;
            padding: 10px 0px 6px 0px;
            font-weight: 300;
            border-left: 1px solid $border-color;
            .day-date {
              width: 20px;
              height: 20px;
              text-align: center;
              margin: 0px auto;
              vertical-align: middle;
              margin-top: 5px;
              padding: 5px;
              border-radius: 50%;
              &:hover {
                cursor: pointer;
                background: var(--theme-color);
                color: $color-white;
                opacity: 0.4;
              }
            }
            &.selected {
              .day-date {
                background: var(--theme-color);
                border:1px solid var(--theme-color);
                color: $color-white;
                &:hover {
                  opacity: 1;
                }
              }
            }
            &.today {
              .day-date {
                border:1px solid var(--theme-color);
              }
            }
          }
        }
      }
      .view-body {
        .view-body-relative {
          position: relative;
          overflow: auto;
          height: calc(100vh - var(--header-height) - var(--view-header-height) - 10px);
          .left-scale {
            width: var(--left-scale-width);
            .step-container {
              .step {
                position: relative;
                font-size: 15px;
                .step-time {
                  position: absolute;
                  right: 10px;
                  top: -9px;
                }
              }
            }
          }
          .drawing-area-container {
            width: calc(100% - var(--left-scale-width));
            position: absolute;
            top: 0;
            left: calc(var(--left-scale-width));
            .drawing-area-container-relative {
              position: relative;
              .grid-wrapper {
                .row {
                  display: flex;
                  border-bottom: 1px solid $border-color;
                  .item {
                    flex: 1;
                    border-left: 1px solid $border-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
